/tmp
*.DS_store
*.idea
*.pyc
*.lyx~
*.lyx#
*.RDS
*.RData
*.Rhistory
*.Rproj
*.Rproj.user
*.Rapp.history
*.DS_Store
*.aux
*.fls
*.lof
*.lot
*.nav
*.snm
*.toc
*.out
*.svn
*.m~
*.bbl
*.blg
*.fdb_latexmk
*.handout.pdf
*.handout.lyx
*.synctex.gz

